<meta charset="utf-8">
<script>try{var t=localStorage.getItem('theme');if(t)document.documentElement.setAttribute('data-theme',t)}catch(e){}document.documentElement.classList.add('js')</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- if site.Params.noindex }}
<meta name="robots" content="noindex, nofollow">
{{- end }}
{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) }}
{{- $desc := cond (ne .Description "") .Description site.Params.description }}
<title>{{ $title }}</title>
<meta name="description" content="{{ $desc }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
{{- range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
{{- end }}
<meta property="og:type" content="{{ cond .IsPage "article" "website" }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with .OutputFormats.Get "RSS" }}
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ .Permalink }}">
{{- end }}
{{- with resources.Get "scss/main.scss" }}
{{- $css := . | css.Sass | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
{{- with resources.Match "js/*.js" }}
{{- $js := resources.Concat "js/site.js" . | minify | fingerprint }}
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{- end }}
